<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="smartMiniPrinter" version="0.0.1">
   <name>SmartMiniPrinter</name>
   <js-module name="SmartMiniPrinter" src="www/SmartMiniPrinter.js">
      <clobbers target="SmartMiniPrinter" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="SmartMiniPrinter">
            <param name="android-package" value="smartMiniPrinter.SmartMiniPrinter" />
				<param name="onload" value="true" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/SmartMiniPrinter.java" target-dir="src/smartMiniPrinter/SmartMiniPrinter" />
      <source-file src="src/android/libs/minilib.aar" target-dir="libs" />
   </platform>
</plugin>